@use "./../variables" as *;
@use "./../mixins" as mixins;

.header {
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  position: relative;

  @include mixins.device-size(medium) {
    padding: 4.5rem 2rem;
    border-bottom: 0.1rem solid $pale-orange;
  }

  @include mixins.device-size(xlarge) {
    padding: 4.5rem 0;
  }

  &__logo {
    margin: 0 auto 0.2rem 1.6rem;

    @include mixins.device-size(medium) {
      margin: 0 5.5rem 0 0;
    }
  }

  &__button {
    @include mixins.button-icon;

    &--menu {
      z-index: 10;

      @include mixins.device-size(medium) {
        display: none;
      }
    }

    &--cart {
      position: relative;
    }

    &--avatar {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 2.5rem;
      border-radius: 50%;

      @include mixins.device-size(medium) {
        width: 5rem;
        height: 5rem;
        border: 0.3rem solid transparent;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 0.3rem solid $orange;
        }
      }

      @include mixins.device-size(large) {
        margin-left: 4.5rem;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__quantity {
    display: none;
    position: absolute;
    top: -0.8rem;
    right: -1rem;
    padding: 1rem 0.8rem;
    background-color: $orange;
    color: $white;
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 1rem;

    &.display {
      display: block;
    }
  }
}
